/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  font-family: "Plus Jakarta Sans";
  overflow-x: hidden;
}

header {
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > a {
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 28px;
  background-color: #13183f;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

main {
  padding: 64px 160px 144px 160px;
}

.top-section {
  display: flex;
  padding-top: 110px;
  margin-bottom: 156px;
}
.left-side {
  min-height: 100px;
  width: 50%;
  /* background-color: red; */
}

.right-side {
  min-height: 100px;
  width: 50%;
  /* background-color: rgb(31, 219, 88); */
}

.left-side > h2 {
  color: #13183f;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  margin-bottom: 24px;
}

.left-side > p {
  color: #83869a;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.left-side > a {
  margin-top: 70px;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 28px;
  background: var(
    --gradient-preset-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
}

.right-side > img {
  position: absolute;
  top: -150px;
  right: -350px;
}

.bot-section {
  min-height: 100px;
  /* background-color: #f02aa6; */
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.box {
  width: 352px;
  height: 322px;
  border-radius: 15px;
  background: var(
    --gradient-preset-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  box-shadow: 0 25px 50px 0 rgba(6, 22, 141, 0.04);
}

.box-1 > h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
  padding: 64px 32px 144px 32px;
}
